In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dados = pd.read_csv('bike-sharing.csv')
dados.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [5]:
dados.isna().sum()

datetime             0
rec_id               0
season               0
year                 0
month                0
hour                 0
is_holiday           0
weekday              0
is_workingday        0
weather_condition    0
temp                 0
atemp                0
humidity             0
windspeed            0
casual               0
registered           0
total_count          0
dtype: int64

In [8]:
dados.dtypes

datetime              object
rec_id                 int64
season                 int64
year                   int64
month                  int64
hour                   int64
is_holiday             int64
weekday                int64
is_workingday          int64
weather_condition      int64
temp                 float64
atemp                float64
humidity             float64
windspeed            float64
casual                 int64
registered             int64
total_count            int64
dtype: object

In [9]:
dados['datetime'] = pd.to_datetime(dados['datetime'])

In [11]:
dados.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

a. Qual o tamanho desse dataset?

In [51]:
dados.shape

(17379, 18)

b. Qual a média da coluna windspeed?

In [13]:
dados.windspeed.mean()

0.19009760630646177

c. Qual a média da coluna temp?

In [14]:
dados.temp.mean()

0.4969871684216583

d. Quantos registros existem para o ano de 2011?

e. Quantos registros existem para o ano de 2012?

In [19]:
dados['ano'] = pd.to_datetime(dados['datetime']).dt.year
dados.groupby('ano')['ano'].count()

ano
2011    8645
2012    8734
Name: ano, dtype: int64

f. Quantas locações de bicicletas foram efetuadas em 2011?

g. Quantas locações de bicicletas foram efetuadas em 2012?

In [23]:
dados.groupby('ano')['total_count'].sum()

ano
2011    1243103
2012    2049576
Name: total_count, dtype: int64

h. Qual estação do ano contém a maior média de locações de bicicletas?

In [31]:
dados.groupby(['ano', 'season'])['total_count'].mean().idxmax()[1]

3

i. Qual estação do ano contém a menor média de locações de bicicletas?

In [38]:
dados.groupby(['ano', 'season'])['total_count'].mean().idxmin()[1]

1

j. Qual horário do dia contém a maior média de locações de bicicletas?

In [42]:
dados.groupby(['hour'])['total_count'].mean().idxmax()

17



k. Qual horário do dia contém a menor média de locações de bicicletas?

In [43]:
dados.groupby(['hour'])['total_count'].mean().idxmin()

4

l. Que dia da semana contém a maior média de locações de bicicletas?

In [44]:
dados.groupby(['weekday'])['total_count'].mean().idxmax()

4

m. Que dia da semana contém a menor média de locações de bicicletas?

In [45]:
dados.groupby(['weekday'])['total_count'].mean().idxmin()

0

n. Às quartas-feiras (weekday = 3), qual horário do dia contém a maior média de locações de bicicletas?

In [48]:
dados.loc[(dados.weekday == 3)].groupby('hour')['total_count'].mean().idxmax()

17

o. Aos sábados (weekday = 6), qual horário do dia contém a maior média de locações de bicicletas?

In [49]:
dados.loc[(dados.weekday == 6)].groupby('hour')['total_count'].mean().idxmax()

13